{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h1 class="h4 mb-2">Pannello di controllo</h1>
      <p class="text-secondary">Gestione amministrativa di tamponi e macchine.</p>
      <div class="row g-3">
        <div class="col-12 col-md-6">
          <a class="card text-decoration-none h-100" href="{{ url_for('admin_swabs') }}">
            <div class="card-body">Gestione tamponi</div>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a class="card text-decoration-none h-100" href="{{ url_for('admin_machines') }}">
            <div class="card-body">Gestione macchine</div>
          </a>
        </div>
        <div class="col-12 col-md-6">
          <a class="card text-decoration-none h-100" href="{{ url_for('admin_settings') }}">
            <div class="card-body">Impostazioni soglia</div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
